html, body {
	margin: 0;
	padding: 5px;
	width: 1310px;
	height: 100%; 

}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}
.content {
	display: flexz;
	height: 300px;
}

.tree_div {
	width: 900px;
	height: 300px;
	float: left; 
}

.top_right {
	position: relative;
	float: right;
	flex-grow: 1;
}

.bot_left {
	width: 400px;
	height: 200px;
	float: left; 
}

.bot_right {
	position: relative;
	float: left;
	flex-grow: 1;
}
.selection_type_div {
	width: 100%;
	height: 50px;
}



.cresc_div {
	width: 500px;
	height: 250px;
	background-color: #999966;
}

.foot_div {
	width: 100%;
	height: 70px;
	background-color: #993399;
}

